.faq-container {
  padding: 32px;
  background-color: #fff;
  margin: 32px;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.faq-header h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #222;
}

.faq-box {
  background: #f9f9f9;
  padding: 28px;
  border-radius: 12px;
}

.faq-box h3 {
  font-size: 22px;
  margin-bottom: 28px;
  color: #333;
}

.faq-item {
  margin-bottom: 18px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  padding: 14px 0;
  transition: background-color 0.3s ease;
}



.faq-question {
  font-size: 19px;
  font-weight: 500;
  color: #000;
}

.faq-answer {
  font-size: 17px;
  color: #444;
  margin-top: 10px;
  line-height: 1.5;
}
